.container{
    overflow: hidden;
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    background:linear-gradient(yellow,rgb(212, 138, 0));
    border-radius: 20px;
    border: black 2px solid;
}

.buttons{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding:10px;
    border: black 1px solid;
}

input{
    width: 100%;
    height: 70px;
    border: none;
    background-color: blanchedalmond;

}

button{
    
    height: 70px;
    font-size: 30px;
    font-style: bold;
    border-radius: 20px;
    border : none;
    cursor: pointer;
    color: antiquewhite;
    background-color: black;
}

button:hover{
    background-color: rgb(59, 59, 59);
}

.buttons #delete{
    color: antiquewhite;
    background-color: crimson;

}